body {
    text-align: center;
    font-family: sans-serif;

}

.Lists:hover {
    background-color: dodgerblue;
}

.Lists {
    display: inline;
    padding-right: 33px;
    padding-left: 25px;
    list-style: none;
    font-size: 22px;
    font-family: sans-serif;
    color: white;
    text-decoration: underline
}

#Menu {
    list-style: none;
    width: 100%;
    top: 0px;
    position: fixed;
}

img {
    margin-top: 22px;
    width: 438px;
    height: auto;
}

#Weeelcome {
    width: 1000px;
    height: auto;
    margin-top: 22px;
}

.line {
    background-color: black;
    height: 6px;
    width: 70px;
    text-align: center;
    margin: 4px auto;
}

h1 {

    font-size: 28px;
}

.divss {
    display: flex;
    justify-content: center;
}

.divi {

    margin-right: 32px;
    margin-left: 32px;
    background-color: white;

}

#SlideView {
    background-color: yellow;
}
